div.liste-document {
    display: flex;
    flex-direction: column;
    background-color: var(--website-bg-color-light-1);
    width: 90%;
    margin: 40px auto;
    padding: 20px;
    border-radius: 16px;
    max-width: min(90%, 2000px);
}

app-liste-document-tile {

    margin-bottom: 20px;
}

app-liste-document-tile:nth-last-child(1) {

    margin-bottom: 0px;
}

div.no-documents{
    text-align: center;
    font-size: 20px;
}

@media (max-width: 800px) {
    div.liste-document {


        padding: 20px;

    }
  }