<footer>
  <div class="footer-content">
    <div class="footer-nav">
      <div class="footer-title">
        <img src="public/images/logos/logo-insash-1.png" alt="Logo ./insa.sh" />
        <h1>./insa.sh</h1>
      </div>

      <ul>
        <li>
          <a routerLink="/">Accueil</a>
        </li>

        <li>
          <a routerLink="/news">Articles</a>
        </li>
        <li>
          <a routerLink="/project">Projets</a>
        </li>
        <li>
          <a routerLink="/les-membres">Membres</a>
        </li>

        <li>
          <a routerLink="/politique-confidentialite"
            >Politique de confidentialité</a
          >
        </li>
        <li>
          <a routerLink="/mentions-legales">Mentions légales</a>
        </li>
        <a
          href="mailto:insa.sh.hdf@gmail.com"
          id="footer-button-partenariat-link"
        >
          <div class="footer-button-partenariat">
            <li>Contactez nous</li>
          </div>
        </a>
      </ul>
    </div>
    <div class="footer-sites">
      <h2>Les sites de l'INSA</h2>
      <ul>
        <li>
          <a href="https://hebergos.insash.org" target="_blank">HebergOS</a>
        </li>
        <li>
          <a href="https://grinsa.fr" target="_blank">GRINSA</a>
        </li>
        <li>
          <a href="https://jinnov-insa.fr" target="_blank">JINNOV</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-copyright">
    <p>© Club ./insa.sh 2024</p>
  </div>
</footer>
