<div id="header">
    <div id="header-title">
        <img src="favicon.ico" alt="">
        <h1>./insa.sh</h1>
    </div>

    <div id="nav-links" class="closed">
        <a href="">Astuces</a>
        <a href="">HebergOS</a> <!-- liste déroulante ->  nouveau composant -->
        <a href="">Projets</a>
        <a href="">L'équipe</a>

    </div>
    <div id="calendar">
        <div class="calendar-icon">
            <p class="today-number">30</p>
            <p class="today-month">AVR</p>
        </div>
    </div> <!-- nouveau composant ?? -->
    <div class="mobile-only" id="hamburger-button">|||</div>
</div>