@import url('https://fonts.googleapis.com/css?family=Open Sans');

footer {
    position: fixed;
    width: 100%;
    background-color: #353535;
    font-family: "Open Sans", sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
}

.footerCopyright {
    padding-top: 20px;
    text-align: center;
    color: white;
    font-weight: 500;
}

.footerContent {
    
    
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

h1 {
    padding-left: 20px;
    color: #8F51DF;
    font-size: 24px;
    font-weight: 800;
}

h2 {
    color: white;
    font-size: 24px;
    font-weight: 700;
}

a {
    font-size: 18;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

ul {
    padding-inline-start: 0px;
    list-style-type: none;
    padding-top: 50px;
}

li {
    padding-bottom: 20px;
}

li a:hover {
    color: #8F51DF;
}

.footerSites {
    padding: 30px;
    
    background-color: #474747;
    border-radius: 20px;
    margin-left: 10%;
}

.footerNav {
    padding-right: 10%;
}

.footerTitle {
    display: flex;
    align-items: center;
}

.boutonPartenariat {
    border: 1px solid transparent;
    background-color: #C8930A;
    border-radius: 10px;
    width: fit-content;
}

.boutonPartenariat * {
    text-align: center;
    padding: 10px;
}

.boutonPartenariat:hover {
    border: 1px solid #C8930A;
    background-color: #353535;
}

@media (max-width:800px) {

    /* Tout le code css que l'on met ici sera appliqué uniquement si la largeur de la fenêtre ne dépasse pas 800px */
    .footerNav {
        padding-right: 0%;
        width: 75%;
    }

    .footerSites {
        margin-left: 0%;
        margin-top: 30px;
        width: 75%;
    }

    ul {
        padding-top: 30px;
    }

}
