<footer>
<div class="footer-content">
    <div class="footer-nav">

        <div class="footer-title">
            <img src="assets/images/logos/logo-insash-1.png" alt="Logo ./insa.sh">
            <h1>./insa.sh</h1>
        </div>

        <ul>
            <li>
                <a href="#">Accueil</a>
            </li>

            <li>
                <a href="#">Nos astuces</a>
            </li>
            <li>
                <a href="#">Projets</a>
            </li>
            <li>
                <a routerLink="les-membres">Les membres</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
            <li>
                <a href="#">Espace membre</a>
            </li>
            <li>
                <a href="#">Mentions légales</a>
            </li>
            <a href="#" id="footer-button-partenariat-link">
                <div class="footer-button-partenariat">
                    <li>
                        Devenir partenaire
                    </li>
                </div>
            </a>

        </ul>

    </div>
    <div class="footer-sites">
        <h2>Les sites de l'INSA</h2>
        <ul>
            <li>
                <a href="#">HebergOS</a>
            </li>
            <li>
                <a href="#">Eurêka</a>
            </li>
            <li>
                <a href="#">INS'Alumnis</a>
            </li>
            <li>
                <a href="#">GRINSA</a>
            </li>
            <li>
                <a href="#">Cariboushot</a>
            </li>
            <li>
                <a href="#">JINNOV</a>
            </li>
        </ul>

    </div>
</div>
<div class="footer-copyright">
    <p>© Club ./insa.sh 2024</p>
</div>
</footer>