<footer>
<div class="footerContent">
    <div class="footerNav">

        <div class="footerTitle">
            <img src="assets/footer/footer_logo.png" alt="Logo ./insa.sh">
            <h1>./insa.sh</h1>
        </div>

        <ul>
            <li>
                <a href="#">Accueil</a>
            </li>

            <li>
                <a href="#">Nos astuces</a>
            </li>
            <li>
                <a href="#">Projets</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
            <li>
                <a href="#">Espace membre</a>
            </li>
            <li>
                <a href="#">Mentions légales</a>
            </li>
            <a href="#">
                <div class="boutonPartenariat">
                    <li>
                        Devenir partenaire
                    </li>
                </div>
            </a>

        </ul>

    </div>
    <div class="footerSites">
        <h2>Les sites de l'INSA</h2>
        <ul>
            <li>
                <a href="#">Hebergeos</a>
            </li>
            <li>
                <a href="#">Eurêka</a>
            </li>
            <li>
                <a href="#">INS'Alumnis</a>
            </li>
            <li>
                <a href="#">GRINSA</a>
            </li>
            <li>
                <a href="#">Cariboushot</a>
            </li>
            <li>
                <a href="#">JINNOV</a>
            </li>
        </ul>

    </div>
</div>
<div class="footerCopyright">
    <p>© Club ./insa.sh 2024</p>
</div>
</footer>