a {
    text-decoration: none;
}

div.box-membre {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

div.membre-image img {
    width: 125px;
    border-radius: 50%;
    border: 6px solid #222;
    background-color: #353535;
    aspect-ratio: 1;
    cursor: pointer;

}

div.membre-infos {
    display: flex;
    height: 100%;
  min-height: 0;
    flex-direction: column;
    padding: 15px;
    gap:10px;
    width: 100%;
    background-color: var(--website-bg-color-light-1);
    border: 2px solid var(--website-bg-color-light-2);
    border-radius: 10px;
}

div.membre-names p {
    font-size: 16px;
    font-weight: bold;
}

div.membre-names p span{
    font-size: 16px;
    font-weight: bold;
    color: #ACACAC;
}

div.membre-surname p{
    font-size: 16px;
    font-weight: bold;
    color: #ACACAC;
}

div.membre-surname span { 
    font-size: 14px;
    color: var(--insash-text-color);
    font-weight: 400;
    padding: 5px;
    background-color: #1e1e1e;
    border-radius: 5px;
}

div.membre-citation p {
    font-style: italic;
    font-size: 16px;
    color: #ACACAC;
}

div.membre-reseaux {
    display: flex;
    gap: 20px;
}

i {
    font-size: 30px;
}