
  <div class="tile-rectangle">
    <a routerLink="projets/{{ project.document.slug }}">
    <div class="tile-image" [ngClass]="{ icon: project.document.is_image_icon}">
      <img src="{{ project.document.image_address }}" alt="" />
    </div>

    <div class="tile-content">
      <h1>{{ project.document.title }}</h1>
      <div class="tile-authors">
        <i class="fa-solid fa-users"></i>
        <h2>
          <span *ngFor="let author of project.authors; let isLast = last">
            {{ author.firstname }}<span *ngIf="!isLast">, </span>
          </span>
        </h2>
      </div>

      <div class="tile-tags">
        <div class="tag" *ngFor="let tag of project.document.tags">
          <p>#{{ tag }}</p>
        </div>
      </div>
    </div>

    <div class="tile-button">
      <p>Voir le projet</p>
    </div>
  </a>
  </div>

