a {
  text-decoration: none;
}

i {
  color: var(--insash-text-color);
  padding-right: 5px;
}

h1,
h2,
p {
  color: var(--insash-text-color);
  font-family: var(--insash-text-default-font);
}

h1 {
  font-size: 16px;
  margin-bottom: 5px;
}

h2 {
  font-size: 12px;
  font-weight: 200;
  padding-top: 5px;
  margin-bottom: 5px;
}

p {
  font-size: 12px;
}

div.tile-rectangle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--website-bg-color);
  border-radius: 10px;
  height: 100%;

  overflow: hidden;
  border: 2px solid var(--website-bg-color-light-2);
}

div.tile-rectangle:hover {
  box-shadow: 0px 0px 30px 3px var(--website-strong-color);
  transition: box-shadow var(--golbal-transition-duration);
}

div.tile-image {
  height: 150px;
  width: 100%;
  margin-bottom: 10px;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
}

div.tile-content {
  padding: 10px 20px 10px 20px;
}

div.tile-tags {
  padding-top: 5px;
}

div.tag {
  display: inline-block;
  background-color: var(--website-strong-color-transparent);
  border-radius: 5px;
  padding: 5px;
  margin: 5px 10px 0px 0px;
}

div.tag > p {
  color: var(--insash-rose-pale);
}

div.tile-button {
  background-color: var(--website-bg-color-light-2);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  margin-top: 10px;
}

div.tile-rectangle:hover div.tile-button {
  background-color: var(--website-strong-color-transparent);
  transition: background-color var(--golbal-transition-duration);
}

div.tile-button > p {
  font-size: 16px;
  text-align: center;
}
