<a routerLink="">
  <div class="tile-rectangle">
    <div class="tile-image">
      <img src="assets/images/projets/guerre_des_carre.png" alt="" />
    </div>

    <div class="tile-content">
      <h1>Jeu d'échecs</h1>
      <h2><i class="fa-solid fa-users"></i>Antoine et Julia</h2>

      <div class="tile-tags">
        <div class="tag">
          <p>#Java</p>
        </div>
        <div class="tag">
          <p>#Jeu</p>
        </div>
      </div>
    </div>

    <div class="tile-button">
      <p>Voir le jeu</p>
    </div>
  </div>
</a>
