<div class="member-detail">
  <div class="member-header">
    <div class="member-image">
      <img
        src="{{ BASE_URL }}{{ member.image.url }}"
        alt="Photo de profil du {{ member.role }}"
        (error)="imageError($event)"
        class="profile-picture"
      />

      <div class="member-citation" *ngIf="member.citation">
        <p>// {{ member.citation }}</p>
      </div>
    </div>

    <div class="member-identity">
      <div class="member-name">
        <ng-container *ngIf="member.prenom">
          <h1>
            {{ member.prenom }} {{ member.nom }}
            <span>({{ member.username }})</span>
          </h1>
        </ng-container>
        <ng-container *ngIf="member.prenom == ''">
          <h1>{{ member.username }}</h1>
        </ng-container>
      </div>
      <div class="member-surname" *ngIf="member.surnom">
        <p>
          aka <em>{{ member.surnom }}</em>
        </p>
      </div>
    </div>

    <div class="member-tag">
      <div class="tag-retraite tag" *ngIf="member.archive">
        Retraité du club
      </div>
      <div class="tag-bureau tag" *ngIf="member.role != 'bureau'">Bureau</div>
      <div class="tag-role tag" *ngIf="member.role != 'Membre'">
        {{ member.role }}
      </div>
      <div class="tag-project tag" *ngIf="project.length > 0">
        <i class="fas fa-medal"></i> {{ project.length }} projet(s)
      </div>
    </div>

    <div class="member-reseaux" *ngIf="doesHeHaveInternet()">
      <a
        class="reseau-tag"
        href="{{ member.website }}"
        target="_blank"
        *ngIf="member.website"
      >
        <i class="fas fa-globe"></i>
      </a>
      <a
        class="reseau-tag"
        *ngIf="member.instagram"
        href="https://www.instagram.com/{{ member.instagram }}"
        target="_blank"
      >
        <i class="fab fa-instagram"></i>
      </a>
      <a
        class="reseau-tag"
        *ngIf="member.github"
        href="{{ member.github }}"
        target="_blank"
      >
        <i class="fab fa-github"></i>
      </a>
      <a
        class="reseau-tag"
        *ngIf="member.linkedin"
        href="{{ member.linkedin }}"
        target="_blank"
      >
        <i class="fab fa-linkedin"></i>
      </a>
    </div>
  </div>
  <div class="member-projects" *ngIf="project.length > 0">
    <h2><em>Projets</em></h2>
    <app-liste-document [documentsAndAuthors]="project"></app-liste-document>
  </div>
</div>
