<div class="member-detail">
  <div class="member-header">
    <div class="member-image">
      <img
        src="{{ BASE_URL }}{{ membre.image!.url }}"
        alt="Photo de profil du {{ membre.role }}"
        (error)="imageError($event)"
        class="profile-picture"
      />

      <div class="member-citation" *ngIf="membre.citation">
        <p>// {{ membre.citation }}</p>
      </div>
    </div>

    <div class="member-identity">
      <div class="member-name">
        <ng-container *ngIf="membre.prenom">
          <h1>
            {{ membre.prenom }} {{ membre.nom }}
            <span>({{ membre.username }})</span>
          </h1>
        </ng-container>
        <ng-container *ngIf="membre.prenom == ''">
          <h1>{{ membre.username }}</h1>
        </ng-container>
      </div>
      <div class="member-surname" *ngIf="membre.surnom">
        <p>
          aka <em>{{ membre.surnom }}</em>
        </p>
      </div>
    </div>

    <div class="member-tag">
      <div class="tag-retraite tag" *ngIf="membre.archive">
        Retraité du club
      </div>
      <div class="tag-bureau tag" *ngIf="membre.role != 'Membre'">Bureau</div>
      <div class="tag-role tag" *ngIf="membre.role != 'Membre'">
        {{ membre.role }}
      </div>
      <div class="tag-projet tag" *ngIf="projet.length > 0">
        <i class="fas fa-medal"></i> {{ projet.length }} projet(s)
      </div>
    </div>

    <div class="member-reseaux" *ngIf="doesHeHaveInternet()">
      <a
        class="reseau-tag"
        href="{{ membre.website }}"
        target="_blank"
        *ngIf="membre.website"
      >
        <i class="fas fa-globe"></i>
      </a>
      <a
        class="reseau-tag"
        *ngIf="membre.instagram"
        href="https://www.instagram.com/{{ membre.instagram }}"
        target="_blank"
      >
        <i class="fab fa-instagram"></i>
      </a>
      <a
        class="reseau-tag"
        *ngIf="membre.github"
        href="{{ membre.github }}"
        target="_blank"
      >
        <i class="fab fa-github"></i>
      </a>
      <a
        class="reseau-tag"
        *ngIf="membre.linkedin"
        href="{{ membre.linkedin }}"
        target="_blank"
      >
        <i class="fab fa-linkedin"></i>
      </a>
    </div>
  </div>
  <div class="member-projets" *ngIf="projet.length > 0">
    <h2><em>Projets</em></h2>
    <app-liste-document [document]="projet"></app-liste-document>
  </div>
</div>
