<div class="membre-bureau">
    <!-- si le membre a une photo de profil alors l'afficher, sinon prendre celle par défaut -->
    <ng-container *ngIf="membre.image_address.String !== ''">
        <img src="{{membre.image_address.String}}" alt="Photo de profil du {{membre.role.String}}" class="profile-picture">
    </ng-container>
    <ng-container *ngIf="membre.image_address.String === ''">
        <img src="/assets/images/profile_pictures/default.jpeg" alt="Photo  de profil du {{membre.role}}"
            class="profile-picture">
    </ng-container>


    <div class="membre-info">
        <p class="variable-name">{{membre.surname.String}}<span>.{{membre.role.String}}</span></p>
        <p class="indent-1">&#123;</p>
        <p class="indent-2">pseudo = <span class="variable-string">"{{membre.surname.String}}"</span></p>
        <p class="indent-2">role = <span class="variable-string">"{{membre.role.String}}"</span></p>
        <!-- recrer une condition pour l'affichage de l'email -->
        <p *ngIf="membre.website.String !== ''"
            class="indent-2">site = <a class="variable-link"
                href="{{membre.website.String}}">{{membre.website.String}}</a></p>
        <p class="indent-1">&#125;</p>


    </div>
</div>