<div class="membre-bureau">
  <!-- si le membre a une photo de profil alors l'afficher, sinon prendre celle par défaut -->
  <a routerLink="/les-membres/{{ membre.username }}">
    <img
      src="{{ BASE_URL }}{{ membre.image!.url }}"
      alt="Photo de profil du {{ membre.role }}"
      (error)="imageError($event)"
      class="profile-picture"
    />
    <div class="hover-text">
      <p>Voir<span class="computer-only"> le profil</span></p>
    </div></a
  >

  <a class="membre-panel-link"
    ><div class="membre-panel">
      <div
        class="membre-info"
        (click)="navigateToMembre(membre.username.toString())"
      >
        <p class="variable-name">
          {{ membre.prenom?.toLowerCase() }}{{ membre.nom?.toUpperCase()
          }}<span>.{{ membre.surnom }}</span>
        </p>
        <p class="indent-1">&#123;</p>
        <p class="indent-2">
          pseudo =
          <span class="variable-string">"{{ membre.username }}"</span>
        </p>
        <p class="indent-2">
          role = <span class="variable-string">"{{ membre.role }}"</span>
        </p>
        <!-- recrer une condition pour l'affichage de l'email -->
        <p *ngIf="membre.website" class="indent-2">
          site =
          <a class="variable-link">{{ membre.website }}</a>
        </p>

        <p class="indent-1">&#125;</p>
        <p class="membre-citation" *ngIf="membre.citation">
          <span class="variable-string">// {{ membre.citation }}</span>
        </p>
      </div>

      <div class="membre-reseau">
        <a href="{{ membre.github }}" target="_blank" *ngIf="membre.github"
          ><i class="fa-brands fa-github"></i
        ></a>
        <a href="{{ membre.website }}" target="_blank" *ngIf="membre.website"
          ><i class="fa-solid fa-globe"></i
        ></a>
        <a href="{{ membre.linkedin }}" target="_blank" *ngIf="membre.linkedin"
          ><i class="fa-brands fa-linkedin"></i
        ></a>
        <a
          href="https://www.instagram.com/{{ membre.instagram }}"
          target="_blank"
          *ngIf="membre.instagram"
          ><i class="fa-brands fa-instagram"></i
        ></a>
      </div>
    </div>
  </a>
</div>
