<a href="project/{{ documentAndAuthor.document.slug }}"
  ><div class="list-project-tile">
    <div
      class="project-image"
      [ngClass]="{ icon: documentAndAuthor.document.is_image_icon }"
    >
      <img src="{{ documentAndAuthor.document.image_address }}" alt="" />
    </div>
    <div class="project-content">
      <div class="project-main-details">
        <h1>{{ documentAndAuthor.document.title }}</h1>
        <div class="project-tags">
          <div class="tag" *ngFor="let tag of documentAndAuthor.document.tags">
            <p>#{{ tag }}</p>
          </div>
        </div>
        <p class="project-description">{{ documentAndAuthor.document.description }}</p>
      </div>
      <div class="project-other-details">
        <div class="project-authors">
          <h2>
            <span
              *ngFor="
                let author of documentAndAuthor.author;
                let isLast = last
              "
            >
              {{ author.firstname }}<span *ngIf="!isLast">, </span>
            </span>
          </h2>
          <i class="fa-solid fa-users"></i>
        </div>
        <div class="project-year">
          <h1>{{ getYear(documentAndAuthor) }}</h1>
        </div>
      </div>
    </div>
  </div>
</a>