<a routerLink="/projet/{{ document.slug }}">
  <div class="tile-rectangle">
    <div class="tile-image icon">
      <img src="{{ BASE_URL }}{{ document.image.url }}" alt="" />
    </div>

    <div class="tile-content">
      <h1>{{ document.titre }}</h1>
      <div class="tile-authors">
        <i class="fa-solid fa-users"></i>
        <h2>
          <span *ngFor="let author of document.auteur; let isLast = last">
            {{ author.prenom !== "" ? author.prenom : author.username
            }}<ng-template #username>{{ author.username }}</ng-template
            ><span *ngIf="!isLast">, </span>
          </span>
        </h2>
      </div>

      <div class="tile-tags">
        <div class="tag" *ngFor="let tag of getMaxTags(maxTags)">
          <p>#{{ tag.titre }}</p>
        </div>
      </div>
    </div>

    <div class="tile-button">
      <p>Voir le projet</p>
    </div>
  </div>
</a>
