h1 {
    text-align: center;
    margin: 40px 4vw;
}

div#membres-actifs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: min(125px,5vw) min(100px,4vw);
    padding: 50px 25px;

    max-width: min(95%, 2000px);
    margin: auto;

}

app-box-membre {

    min-width: 425px;
}

@media (max-width: 800px) {
    div#membres-actifs {

        padding: 2%;
        width: 100%;
    
    }
}