div#membres-du-bureau {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2vw;
    justify-content: center;
    /* align-items: center; */


    max-width: min(90%, 2000px);
    margin: auto;

}

app-membre-bureau:nth-child(odd) div.membre-bureau{
    flex-direction: row-reverse;
}


h1 {
    text-align: center;
    margin: 40px 4vw;
}

@media (max-width:800px) {
    div#membres-du-bureau>* {
        width: 100%;
        max-width: min(100%, 600px);
    }
}