<h1>L'équipe</h1>

<div id="membres-du-bureau">
  <ng-container *ngIf="president != null">
    <app-membre-bureau [membre]="president"></app-membre-bureau>
  </ng-container>
  <ng-container *ngIf="tresorier != null">
    <app-membre-bureau [membre]="tresorier"></app-membre-bureau>
  </ng-container>
  <ng-container *ngIf="secretaire != null">
    <app-membre-bureau [membre]="secretaire"></app-membre-bureau>
  </ng-container>
  <ng-container *ngIf="responsableCommunication != null">
    <app-membre-bureau [membre]="responsableCommunication"></app-membre-bureau>
  </ng-container>
</div>
