
<div class="politique-confidentialite"><h1>Politique de Traitement des Données de l’Association ./insa.sh</h1>
<h2>Concernant les membres listés sur le site web</h2>
<h3>Finalités du Traitement</h3>
<p>Les données utilisées ont pour objectif de représenter le membre sur le site web de l’association ./insa.sh. 
Être représenté en tant que membre sur le site du club est une démarche optionnelle qui n’impacte en aucune manière l’engagement au sein du club. 
Les contributions, le rôle, et l’accès aux activités et ressources du club restent identiques, indépendamment du choix de publication sur le site.</p>

<p>Les informations relatives aux membres sur le site web n’ont pas pour finalité l’administration ou le recensement des membres du club. Un autre traitement de données concerne ces finalités.</p>

<p>Les données collectées sont communiquées sur le site web de l’association, sur la page des membres. Seules les données fournies avec consentement sont publiées.</p>

<h3>Données Traitées</h3>
<p>Toutes les données sont optionnelles. Les données incluent :</p>
<ul>
<li>Prénom</li>
<li>Nom</li>
<li>Pseudo</li>
<li>Rôle au sein de l’association</li>
<li>Citation personnalisée</li>
<li>Lien vers un site web personnel</li>
<li>Lien vers votre profil LinkedIn</li>
<li>Lien vers votre profil GitHub</li>
<li>Un avatar choisi</li>
</ul>
<p>Si de nouvelles données devaient être recueillies, un formulaire serait communiqué pour en informer les membres de ./insa.sh.</p>
<h3>Conservation des Données</h3>
<p>Les données sont conservées pendant 1 an, durée correspondant à une année scolaire, ou jusqu’à ce que la personne s’y oppose. Un nouveau traitement des données est proposé à la fin de cette durée pour demander si la personne consent à ce que ses données soient réutilisées pour l’année suivante.</p>

<p>
Si une personne ne fait plus partie de l'association (en quittant l’association ou en ayant terminé ses
études), un traitement additionnel pourra être proposé pour déterminer les informations que l’association est autorisée à conserver pour créditer d’éventuels projets/articles. Ces données
peuvent être conservées jusqu’à 2 ans avec les mêmes droits que ce traitement initial.</p>
<h3>Vos Droits</h3>
<p>Vous pouvez accéder aux données vous concernant, les rectifier, demander leur effacement ou exercer votre droit à la limitation du traitement de vos données. </p>
<p>Vous pouvez retirer votre consentement au traitement de vos données à tout moment, auquel cas vos données seront immédiatement supprimées. </p>
<p>Vous pouvez également vous opposer au traitement de vos données.</p>

<p>Consultez le site cnil.fr pour plus d’informations sur vos droits.</p>

<p>Pour exercer ces droits ou pour toute question sur le traitement de vos données dans ce dispositif,
vous pouvez contacter le bureau de l’association ./insa.sh.

Si vous estimez, après nous avoir contactés, que vos droits « Informatique et Libertés » ne sont pas
respectés, vous pouvez adresser une réclamation à la CNIL.</p>

<p>Ces informations sont consultables à tout moment dans la présente politique de confidentialité sur le site web de l'association ./insa.sh.</p>
</div> 