<div class="member-detail">
    <div class="member-header">
        <div class="member-image"><img src="{{ member.image_address.String }}" alt="">
        
            <div class="member-citation" *ngIf="member.citation.String != ''"><p>// {{ member.citation.String }}</p></div></div>
            
        <div class="member-identity">
            <div class="member-name">
                <ng-container *ngIf="member.firstname.String != ''">
            <h1>{{ member.firstname.String }} {{ member.lastname.String }} <span>({{ member.username }})</span></h1>
        </ng-container>
        <ng-container *ngIf="member.firstname.String == ''">
            <h1>{{ member.username }}</h1>
        </ng-container>
    </div>
            <div class="member-surname" *ngIf="member.surname.String != ''">
                <p>aka <em>{{ member.surname.String }}</em></p>
            </div>
        </div>
        
        <div class="member-tag">

            <div class="tag-retraite tag" *ngIf="member.archived">
                Retraité du club
            </div>
            <div class="tag-bureau tag" *ngIf="member.status.String == 'bureau'">
                Bureau
            </div>
            <div class="tag-role tag" *ngIf="member.status.String == 'bureau' && member.role.String != ''">
                {{ member.role.String}}
            </div>
            <div class="tag-project tag" *ngIf="project.length > 0">
                <i class="fas fa-medal"></i> {{ project.length }} projet(s)     </div>

        </div>
        <a routerLink="/custom-website/{{ member.username }}">
        <div class="member-custom-website">
            <p>Page perso</p>
            <i class="fa-solid fa-play"></i>
        </div></a>
        <div class="member-reseaux">
            <div class="reseau-tag"  *ngIf="member.website.String != ''">
                <a href="{{ member.website.String }}" target="_blank">
                    <i class="fas fa-globe"></i>
                </a>
            </div>
            <div class="reseau-tag" *ngIf="member.instagram.String != ''">
                <a href="{{ member.instagram.String }}" target="_blank" >
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
            <div class="reseau-tag" *ngIf="member.github.String != ''">
                <a href="{{ member.github.String }}" target="_blank" >
                    <i class="fab fa-github"></i>
                </a>
            </div>
            <div class="reseau-tag"  *ngIf="member.linkedin.String != ''">
                <a href="{{ member.linkedin.String }}" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
            </div>

        </div>
    </div>
    <div class="member-projects" *ngIf="project.length > 0">
        <h2><em>Projets</em>
        </h2>
        <app-liste-document [documentsAndAuthors]="project"></app-liste-document>
    </div>
</div>