
<a routerLink="/{{ documentAndAuthor.document.type }}/{{ documentAndAuthor.document.slug }}">
  <div class="tile-rectangle">
    
    <div class="tile-image" [ngClass]="{ icon: documentAndAuthor.document.is_image_icon}">
      <img src="/public/images/document/{{ documentAndAuthor.document.type }}/{{ documentAndAuthor.document.image_address }}" alt="" />
    </div>

    <div class="tile-content">
      <h1>{{ documentAndAuthor.document.title }}</h1>
      <div class="tile-authors">
        <i class="fa-solid fa-users"></i>
        <h2>
          <span *ngFor="let author of getActiveAuthors(); let isLast = last">
            {{ author.firstname.String }}<span *ngIf="!isLast">, </span>
          </span>
          <span *ngIf="getNumberArchivedAuthors() > 0">
            + {{ getNumberArchivedAuthors() }} auteurs
          </span>
        </h2>
      </div>

      <div class="tile-tags">
        <div class="tag" *ngFor="let tag of getMaxTags(MAX_TAGS)">
          <p>#{{ tag }}</p>
        </div>
      </div>
    </div>

    <div class="tile-button">
      <p>Voir le projet</p>
    </div>
 
  </div>
</a>

