div#rejoindre-le-club {
    max-width: min(80vw, 2000px);
    margin: 120px auto;
    margin-top: 60px;
}


div#rejoindre-le-club h2 {
    /* font-size: 2.5rem; */
    margin-bottom: 50px;
    font-family: "Open Sans";
    text-align: center;

}

h2>span {
    color: var(--website-strong-color);
    font-size: inherit;
    font-family: inherit;
}

div#rejoindre-le-club>div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: min(60px,20vw);
    justify-content: center;
    max-width : min(80vw, 2000px);
    margin: auto;
}



div#rejoindre-le-club div#pourquoi-nous-rejoindre {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 16px;
    font-weight: 200;
    flex: 1;
    max-width: max-content;
    min-width: min(300px,80vw);
}


div#flex-element>svg {
    /* transform: scale(4); */
}


a {
    font-weight: 500;
}