<div id="rejoindre-le-club">
<h2>Tu veux <span>nous rejoindre</span> ?</h2>
<div>
    <li><b>Pas de niveau d'entrée</b>, tous les curieux.ses sont les bienvenu.e.s !</li>
    <li>Tous les <b>jeudis dès 14h</b></li>
    <li>Bosse tes <b>projets perso</b>, trouve de l’<b>aide</b> pour tes cours, ou <b>viens t’incruster dans les projets du club</b> !</li>
    <li>Rejoins notre <a href="https://discord.com/invite/rtYZMdJW7r" class="text-link">Discord</a> pour ne rien manquer</li>
    <li>Suis-nous sur Instagram: <a href="https://instagram.com/clubinfoinsahdf/" class="text-link">@hdf_insa.sh</a> pour voir nos meilleurs CheatSheets !</li>
</div>

</div>
