
div.bar {
    background-color: var(--website-bg-color-light-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
    margin: auto;
    padding: 20px 5%;
    border-radius: 16px;
    max-width: min(90%, 2000px);
}


div.search-bar {
    display: flex;
    align-items: center;

    /* background-color: var(--website-bg-color-light-2); */
    border-radius: 16px;
    border: solid 2px var(--website-bg-color-light-2);

    /* pas d'encadré à la selection */
    

}



div.search-bar-button {
    display: flex;
}


input.search-bar-input {
    
    background-color: transparent;
    font-size: 16px;
    border: none;
    padding: 2% 8px;
    height: 640%;
    border: none;
    /* border-bottom: solid 2px var(--insash-text-color); */
}

div.search-bar:focus, div.search-bar:hover {
    background-color: var(--website-bg-color-light-1);
    color: red;
}




.search-bar-button{

    background-color: var(--website-bg-color-light-1);
    /* border: solid 2px var(--website-bg-color-light-1); */
    border: none;
    border-radius: 0 12px 12px 0;
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    /* margin-left: 10px; */
    transition: background-color 0.3s;
}


.search-bar-button-reset {
    display: flex;
    flex-direction: row;
    border: solid 2px var(--website-bg-color-light-2);

}
.search-bar-button-reset>i {
    padding: 5px 10px;
    font-size: 24px;    
}

.search-bar-button:hover {
    background-color: var(--website-bg-color-light-2);
    /* border: solid 2px var(--website-bg-color-light-2); */
}

form.search-filter {
    display: flex;
    /* margin-right: 10px; */
    justify-content: flex-end;
    /* width: 50%; */
    /* flex: 1; */
    align-items: center;
}

#search-bar-button-filter {
    display: none;
}

div.dropdown {
    text-align: center;
    position: relative;
    display: block;
    width: fit-content;
    border-right: solid 1px var(--insash-text-color);
    padding: 8px 20px;
}

div.dropdown:last-child {
    border-right: none;
}

/* faire tourner le bouton du menu déroulant au hover */
div.dropdown i {
    transition: transform var(--global-transition-duration);

}

div.dropdown:hover i, div.dropdown:target i {
    transform: rotate(180deg);
}

button.dropdown-button {
    background: transparent;
    box-shadow: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    /* margin-left: 20px; */
}

button.dropdown-button i {
    margin-left: 5px;
}

i.filter-selected-icon {
    color: var(--website-strong-color);
    margin-left: 10px;
    font-size: 10px;
    visibility: hidden;
}

i.filter-selected-icon-hidden {
    visibility: visible;
}

div.dropdown-content {
    position: absolute;
    z-index: 1;
    max-height: min(250px,60vh);
    overflow-y: auto;
    border-radius: 16px;
    text-align: left;
    width: 100%;
    min-width: 150px;
    background-color: var(--website-bg-color-light-1);
    scrollbar-color: var(--website-bg-color-light-2) var(--website-bg-color-light-1);
    border: solid 1px var(--website-bg-color-light-2);
       
}

div.dropdown div.dropdown-content {
    /* visibility: hidden;  */
    opacity: 0;
    transform: scale(0);
    transform-origin: top;
    transition: transform var(--global-transition-duration), opacity var(--global-transition-duration), visibility var(--global-transition-duration);
    transition-duration: var(--global-transition-duration); 
    transition-delay: 0.2s;
}

div.dropdown:hover div.dropdown-content {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition-delay: 0s;
}

div.dropdown-content label {
    background-color: transparent;
    padding: 12px 16px;
    display: block;
    user-select: none;
    transition: background-color var(--global-transition-duration);
    
}

div.dropdown-content label:hover {
    background-color: var(--website-bg-color-light-2);
}

div.dropdown-content-element {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px var(--website-bg-color-light-2);
}

div.dropdown-content-element:last-child {
    border-bottom: none;
}

.custom-input {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    display: grid;
  place-content: center;
}

.custom-input::before {
    content: "";
    width: 1em;
    height: 1em;
    transform: scale(0);
    transition: 0.1s transform ;
    box-shadow: inset 1em 1em white;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }

  .custom-input:checked::before {
    transform: scale(1);
  }

@media (max-width: 800px) {
    
    div.bar {
        flex-direction: column;
    }
    
    div.search-bar {
        justify-content: space-between;

    }

    form.search-filter {
        width: auto;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;

    }

    app-filter {
        width: 50%;
        padding-top: 20px;
        border: none;
    }

    input.search-bar-input {
    
        width: 100%;
    }


    div.dropdown {
        border-right: none;
    }

  }