app-liste-document-tile {
  width: 100%;
  max-width: min(80%, 700px);
  /* animation entrée */
  animation: slideIn 0.6s ease-in;
  opacity: 0;
  animation-fill-mode: forwards;
}

div.top-documents app-box-article-tile,
div.top-documents app-liste-article-tile {
  min-width: min-content;

  flex: 1;
}

@keyframes slideIn {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}



/* mobile */
@media (max-width: 800px) {
  div.top-documents app-box-article-tile,
div.top-documents app-liste-article-tile {
  width: 100%;
}
}

