div.project-top {
    width: min(100%, 2000px);
    margin: 50px auto;
    padding:  0px min(150px, 10%);
}

div.project-top h1 {
font-size: 36px;
}

div.tag {
    display: inline-block;
    background-color: rgba(239,193,233,10%);
    border-radius: 5px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 5px;
    margin: 5px 10px 0px 0px;
  }
  
  div.tag > p {
    color: var(--insash-rose-pale);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.6px;
  }

div.project-details {
    border-left: solid 5px var(--website-bg-color-light-2);
    display: flex;
    flex-direction: column;
    
    justify-content: space-evenly;
    gap: 30px;
    padding: 15px 0px;
    margin-top: 75px;
}

div.project-detail-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

i {
    margin: 0px 35px;
    font-size: 30px;
    width: 30px;
    text-align: center;
}




.loader{
    width: 40px;
    aspect-ratio: 1;
    --c:no-repeat linear-gradient(#000 0 0);
    background: 
      var(--c) 0    0,
      var(--c) 0    100%, 
      var(--c) 50%  0,  
      var(--c) 50%  100%, 
      var(--c) 100% 0, 
      var(--c) 100% 100%;
    background-size: 8px 50%;
    animation: l7-0 1s infinite;
    position: relative;
    overflow: hidden;
  }
  .loader:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #000;
    top: calc(50% - 4px);
    left: -8px;
    animation: inherit;
    animation-name: l7-1;
  }
  
  @keyframes l7-0 {
   16.67% {background-size:8px 30%, 8px 30%, 8px 50%, 8px 50%, 8px 50%, 8px 50%}
   33.33% {background-size:8px 30%, 8px 30%, 8px 30%, 8px 30%, 8px 50%, 8px 50%}
   50%    {background-size:8px 30%, 8px 30%, 8px 30%, 8px 30%, 8px 30%, 8px 30%}
   66.67% {background-size:8px 50%, 8px 50%, 8px 30%, 8px 30%, 8px 30%, 8px 30%}
   83.33% {background-size:8px 50%, 8px 50%, 8px 50%, 8px 50%, 8px 30%, 8px 30%}
  }
  
  @keyframes l7-1 {
   20%  {left:0px}
   40%  {left:calc(50%  - 4px)}
   60%  {left:calc(100% - 8px)}
   80%,
   100% {left:100%}
  }

@media (max-width: 800px) {
    div.project-description {
        align-items: start;
    }

    div.project-top {
        padding-top: 75px; 
    }
}