# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=blib,blob,blup,blap
API_TOKEN_SALT=du_sel
ADMIN_JWT_SECRET=jtedonneraipasmonsecret
TRANSFER_TOKEN_SALT=mmh

# Database
DATABASE_SSL=false
DATABASE_FILENAME=.tmp/data.db
JWT_SECRET=jenaipasquunseulsecret

# @strapi-community/dockerize variables

DATABASE_HOST=insash_website_strapiDB
DATABASE_PORT=5432
DATABASE_NAME=strapi
DATABASE_USERNAME=strapi
DATABASE_PASSWORD=password
NODE_ENV=development
DATABASE_CLIENT=postgres
# @strapi-community/dockerize end variables
APP_URL=http://localhost:1337
