a {
  text-decoration: none;
}

div.top-documents {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  height: max-content;
  max-width: min(90%,1000px);
  margin: auto;
  
}

div.top-documents app-box-document-tile:nth-child(1),
div.top-documents app-liste-document-tile:nth-child(1) {
  animation-delay: 0s;
}

div.top-documents app-box-document-tile:nth-child(2),
div.top-documents app-liste-document-tile:nth-child(2) {
  animation-delay: 0.1s;
}

div.top-documents app-box-document-tile:nth-child(3),
div.top-documents app-liste-document-tile:nth-child(3) {
  animation-delay: 0.2s;
}

a {
  font-weight: 600;
  font-family: var(--insash-text-default-font);
  font-size: 20px;
  margin: 40px 0;
}

@media (max-width: 800px) {
  div.top-documents {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  app-box-document-tile,
  app-liste-document-tile {
    margin-top: 20px;
    max-width: 90%;
    width: 90%;
  }
}
