app-box-document-tile {
  width: 25%;
  max-width: min(25%, 500px);
  /* animation entrée */
  animation: slideIn 0.6s ease-in;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes slideIn {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
