h1 {
  text-align: center;
  margin: 40px 4vw;
}

h2 {
  width: min(90%, 2000px);
  margin: 40px auto 40px auto;
  color: var(--insash-title-color);
  opacity: 60%;
}

:host {
  app-project-tile:nth-child(1) {
    width: 50%;
    max-width: 1000px;
  }
}

@media (max-width: 800px) {
  :host {
    app-project-tile:nth-child(1) {
      width: 90% !important;
    }
  }


}
