* {
    --insash-button-bg-color: #C8930A;
}

footer {
    position: relative;
    width: 100%;
    background-color: var(--website-bg-color-light-1);
    padding-top: 50px;
    padding-bottom: 20px;
}

/* s'applique à tous les éléments inclus dans la balise footer */
footer * {
    font-family: var(--insash-title-default-font), sans-serif;
}

h1 {
    padding-left: 20px;
    font-family: var(--insash-text-default-font) !important;
    color: var(--website-strong-color);
    font-size: 24px;
    font-weight: 800;
}

h2 {
    color: var(--insash-text-color);
    font-size: 24px;
    font-weight: 700;
}

a {
    font-size: 18;
    font-weight: 600;
    color: var(--insash-text-color);
    text-decoration: none;
    padding: 8px 0;
    display: inline-block;
}

img {
    height: 60px;
    width: auto;
    /* object-fit: cover; */
}
ul {
    padding-inline-start: 0px;
    list-style-type: none;
    padding-top: 50px;
}

li {
    margin-bottom: 2px;
}

li>a:hover {
    color: var(--website-strong-color);
    transition: color var(--global-transition-duration);
}

div.footer-content {

    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;
    max-width: 2000px;
    margin: 0 auto;
}

div.footer-title {
    display: flex;
    align-items: center;
}

div.footer-nav {
    /* padding-right: 10%; */
    padding: 30px;

}

div.footer-sites {
    padding: 30px;

    background-color: var(--website-bg-color-light-2);
    border-radius: 20px;
    /* margin-left: 10%; */
}

div.footer-button-partenariat {
    border: 2px solid transparent;
    background-color: var(--insash-button-bg-color);
    border-radius: 10px;
    width: fit-content;
    transition: background-color var(--global-transition-duration);
}

div.footer-button-partenariat>* {
    text-align: center;
    padding: 10px;
}

div.footer-button-partenariat:hover {
    border: 2px solid var(--insash-button-bg-color);
    background-color: var(--website-bg-color-light-1);
}

div.footer-copyright {
    padding-top: 20px;
    text-align: center;
    color: var(--insash-text-color);
    font-weight: 500;
}

@media (max-width:800px) {

    ul {
        padding-top: 30px;
    }

    footer {
        padding: 4vw;
    }


    div.footer-nav {
        /* padding-right: 0%; */
        width: 100%;
    }

    div.footer-sites {
        /* margin-top: 30px 0 0 0; */
        width: 100%;
    }


    a#footer-button-partenariat-link {
        width: 100%;
    }
    div.footer-button-partenariat {
        width: 100%;
    }
    
    div.footer-button-partenariat>* {
        text-align: left;
    }

}