
    <div class="project-header">
      <div class="project-header-bg">
        <img src="/public/images/document/{{ project.document.type }}/{{ project.document.image_address }}" alt="" />
      </div>
  
      <div class="project-header-fg">
        <div class="project-header-image">
          <img src="/public/images/document/{{ project.document.type }}/{{ project.document.image_address }}" alt="" />
        </div>
  
        <div class="project-header-buttons">
          <a href="{{ project.document.github_address.String }}" *ngIf="project.document.github_address.String != ''">

            <div class="button button-github">
              <p>Github</p>
              <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </div>
          </a>
  
          <a
            href="{{ project.document.project_address.String }}"
            *ngIf="project.document.project_address.String != ''"
          >
            <div class="button button-play">
              <p>Lancer</p>
              <i class="fa-solid fa-play"></i>
            </div>
          </a>
        </div>
      </div>
    </div>