<div class="box-membre">
  <div class="membre-image">
    <a routerLink="{{ membre.username }}">
      <img
        src="{{ BASE_URL }}{{ membre.image!.url }}"
        alt="Photo de profil du {{ membre.role }}"
        (error)="imageError($event)"
      />
    </a>
  </div>

  <div class="membre-infos">
    <a routerLink="{{ membre.username }}">
      <div class="membre-names">
        <ng-container *ngIf="membre.prenom !== ''; else surnom">
          <p class="nom">
            {{ membre.prenom }} {{ membre.nom
            }}<span>
              - <em>{{ membre.username }}</em></span
            >
          </p></ng-container
        >
        <ng-template #surnom>
          <p class="nom">{{ membre.username }}</p>
        </ng-template>
      </div></a
    >
    <a routerLink="{{ membre.username }}">
      <div class="membre-surname" *ngIf="membre.surnom !== ''">
        <p>
          aka <span>{{ membre.surnom }}</span>
        </p>
      </div>
    </a>
    <div class="membre-citation" *ngIf="membre.citation !== ''">
      <p>// {{ membre.citation }}</p>
    </div>
    <div class="membre-reseaux">
      <a href="{{ membre.github }}" target="_blank" *ngIf="membre.github"
        ><i class="fa-brands fa-github"></i
      ></a>
      <a href="{{ membre.website }}" target="_blank" *ngIf="membre.website"
        ><i class="fa-solid fa-globe"></i
      ></a>
      <a href="{{ membre.linkedin }}" target="_blank" *ngIf="membre.linkedin"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
      <a
        href="https://www.instagram.com/{{ membre.instagram }}"
        target="_blank"
        *ngIf="membre.instagram"
        ><i class="fa-brands fa-instagram"></i
      ></a>
    </div>
  </div>
</div>
