div#home-header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 24px;

  padding: 40px 8vw;
}
div#home-header svg {
  max-width: 80vw;
  width: min(80vw, 300px);
}
/* animation/transition d'entrée stylée une fois le site chargé */
div#home-header svg > *,
div#home-header > svg {
  animation: fadeIn 2s;
  animation-fill-mode: forwards;
  opacity: 0;
  transition-duration: 0.5s;
  overflow: visible;
}
div#home-header svg #logo_bg {
  fill: #de7f92;
}
div#home-header svg:hover #logo_border {
  /* decaler smooth*/

  transform: translate(5px, -5px) scale(1.01);
}

div#home-header svg:hover #logo_bg {
  /* decaler smooth*/
  filter: opacity(0.4) blur(4px);
  /* version pour ios et osx */
  -webkit-filter: opacity(0.4) blur(4px);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

div#main-logo {
  position: relative;
}
#msg-bubble {
  width: min(300px, 100%);
  /* height: 100px; */
  padding: 5px 20px;
  /* background-color: linear rgb(10,132,255) 0%, rgb(10,132,255) 100%; */
  /* background: linear-gradient(90deg, rgba(10,132,255,1) 0%, rgba(10,132,255,1) 100%); */
  /* background: linear-gradient(60deg, rgba(10,132,255,1) 0%, rgb(87, 161, 235) 100%); */
  background: linear-gradient(
    60deg,
    var(--insash-rose-fonce) 0%,
    rgb(87, 161, 235) 100%
  );
  /* background-color: #DE7F92; */
  position: absolute;
  top: -15%;
  right: -40%;
  border-radius: 20px;
  text-align: left;
  /* animation flou invisible -> hover -> visible net */
  filter: blur(10px);
  opacity: 0;
  user-select: none;
  transition-duration: 1s;
  transition: filter 0.5s, opacity 0.5s, transform 0.5s;
}
div#home-header svg:hover + #msg-bubble {
  filter: blur(0px);
  opacity: 1;
  transform: translateX(20%);
}

div#home-header > h1 > span {
  color: var(--insash-rose-fonce);
  font-family: var(--insash-text-default-font);
  font-size: 32px;
}
div#home-header > h1 > span > span#smaller-space {
  font-family: "Open Sans";
}
div#home-header > div#liens-reseaux {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

div#home-header > div#liens-reseaux > a {
  text-decoration: none;
  background-color: var(--website-bg-color-light-2);
  color: var(--insash-text-color);
  font-size: 24px;

  padding: 12px;
  border-radius: 8px;
  width: 46px;
  height: 46px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.2s, color 0.2s;
}
div#home-header > div#liens-reseaux > a > i {
  color: inherit;
  font-size: inherit;
}

div#home-header > div#liens-reseaux > a:hover {
  background-color: rgba(239, 193, 203, 45%);
}

div#home-header > div#liens-reseaux > a:active {
  background-color: var(--insash-rose-fonce);
}
